@import './vars.scss';
@import './normalize.scss';

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: var(--font-size-normal);
  font-weight: 300;
  font-size: var(--font-size-normal);

  
  ::-webkit-scrollbar {
    width: 4px;
    background: var(--gray-color);
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: var(--gray-color);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--primary-color-300);
  }

  ::placeholder {
    color: var(--primary-color-300);
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--primary-color-300);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--primary-color-300);
  }
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.container {
  padding: 0 calc((100% - 960px) / 2);
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.0001);
  border: 1px solid #777777;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}